@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Site.cshtml";
}
@section title{Hakkımızda}


<div class="hero-wrap" style="background-image: url('/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="/Home/Index/">Anasayfa</a></span> <span>Hakkımızda</span></p>
                <h1 class="mb-3 bread">Biz Kimiz?</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftc-no-pb">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/images/about.jpg);">
                <a href="http://www.youtube.com/shorts/GsXqWoKPzRM" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="icon-play"></span>
                </a>
            </div>
            <div class="col-md-7 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section heading-section-wo-line mb-5 pl-md-5">
                    <div class="pl-md-5 ml-md-5">
                    </div>
                </div>
                <div class="col-md-12 Properties-single mt-4 mb-5 ftco-animate">
                    <h2>SALTAN YAPI </h2>
                    <p class="rate mb-4">
                    </p>
                    <p>
                        SALTAN YAPI 1987'den  beri gelen tecrübesiyle, insanların temel tüketim ihtiyaçları doğrultusunda güvenli, konforlu, çevreci ve teknolojiyi içinde barındıran yaşam alanlarında tüm ihtiyaçların karşılanabileceği yaşamı sunmak için profesyonel çalışmaları ile müşterilerine  hizmet vermektedir
                        SALTAN YAPI Hızla değerlenen yatırımları ile yatırımcılarına istikrarlı bir şekilde kazandırmaya devam  SALTAN YAPI, sadece İstanbul’da değil, Türkiyenin çeşitli bölgelerinde yüksek ölçekte de yeni projeleri heyecanla beklenen kurumsal bir güç olmayı sürdürmektedir.
                    </p>
                    <div class="d-md-flex mt-5 mb-5">
                        <ul>
                            <span class="loc"><a href="#"><i class="icon-circle"></i> Misyonumuz & Vizyonumuz</a></span>
                            <br>
                            SALTAN YAPI yenilikçi ve müşteri
                            odaklı yapısından ödün vermeden,  dikkat çekici ve adını başarılarla duyuran bir marka olarak anılmaya devam etmektedir.
                            Tüm Müşterilerini huzurlu ve konforlu bir şekilde konut sahibi yapan SALTAN YAPI, bugün inşaat başta olmak üzere otomotiv alanında'da hizmet veren bir AİLE şirketidir</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>